<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/wonderlust.svg" />
    <title id="navbar-brand">Wonderlust</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- maplibre.org map -->
    <link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.1.3/dist/maplibre-gl.css' />
    <script src='https://unpkg.com/maplibre-gl@4.1.3/dist/maplibre-gl.js'></script>
    <!-- my style -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/ratingStar.css">
</head>

<body>

    <head>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top border-bottom row">
            <div class="container-xl">

                <div class="col-4 navbar-nav navItem text-nowrap">
                    <a id="navbar-brand" class="fw-bold" href="/listings">
                        <i class="fa-solid fa-person-walking-luggage"></i><span class="">Wonderlust</span></a>
                </div>

                <div class="col-4 navbar-nav search navItem">
                    <form action="/listings/search" method="get" class="d-flex needs-validation" role="search"
                        novalidate>
                        <input type="text" class="form-control rounded-pill" type="search"
                            placeholder="Search by Location" aria-describedby="button-addon2" name="location" required>
                        <button id="search-btn" class="btn rounded-pill" type="submit" id="button-addon2"><i
                                class="fa-solid fa-magnifying-glass" style="color:#fff"></i></button>
                    </form>
                </div>

                <!-- side  -->
                <div class="col-sm-3 col-lg-4  navItem ">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"
                        aria-controls="offcanvas" aria-label="Toggle navigation">
                        <span class=""><i class="fa-solid fa-bars fa-lg"></i></span>
                    </button>

                    <div class="offcanvas offcanvas-end text-bg-light custom-offcanvas-width " style="width:180px;"
                        tabindex="-1" id="offcanvas" aria-labelledby="#offcanvasLabel">

                        <div class="offcanvas-header">
                            <span class="offcanvas-title fw-bold" id="#offcanvasLabel"><i
                                    class="fa-solid fa-person-walking-luggage"></i>Wonderlust</span>
                            <button type="button" class="btn-close btn-close-gray" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>

                        <div class="offcanvas-body">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a id="createList" class="nav-link text-nowrap fw-bold "
                                        href="/listings/create">Wonderlust your home</a>
                                </li>
                                <% if (!currentUser) { %>
                                    <li class="nav-item">
                                        <a class="nav-link fw-bold" href="/signup">Signup</a>
                                    </li>
                                    <li class="nav-item"><a id="loginBtn" class="nav-link fw-bold" type="button"
                                            data-bs-toggle="modal" data-bs-target="#staticBackdrop">Login</a>
                                    </li>
                                    <% } else { %>
                                        <li class="nav-item">
                                            <a class="nav-link fw-bold" href="/logout">Logout</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link fw-bold" href="">@<%= currentUser.username %></a>
                                        </li>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </nav>


        <!-- login -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- <div class="modal-header">
                        <h3 class="modal-title" id="staticBackdropLabel">Login Here</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> -->
                    <div id="logForm" class="modal-body">

                        <form action="/login" method="post" class="needs-validation" novalidate>
                            <h3 class="mb-3 text-nowrap" style="width: 450px;">Please login your account</h3>
                            <div class="form-floating">
                                <input name="username" type="text" class="form-control" id="Username"
                                    placeholder="Username" required>
                                <label for="Username">Username</label>
                            </div>
                            <div class="form-floating">
                                <input name="password" type="password" class="form-control" id="floatingPassword"
                                    placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
                            </div>
                            <br>
                            <div class="">
                                <button class="btn w-100 btn-primary py-2 btn-sm fw-bold" type="submit">Login</button>
                            </div>
                        </form>
                        <div class="mt-2">
                            <a href="/signup" class="">Create an
                                account</a>
                        </div>
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </head>

    <main class="pt-5 mt-5 container-xl">
        <!-- alerts -->
        <%- include('../includes/flash.ejs') %>

            <!-- main body -->
            <%- body %>
    </main>

    <footer class="footer border-top pt-2">
        <div class="social"><a href=""><i class="fa-brands fa-square-facebook"></i></a> <a href=""><i
                    class="fa-brands fa-instagram"></i></a> <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-snapchat"></i></a> <a href=""><i
                    class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="company"><a href=""><i class="fa-regular fa-copyright"></i>Wonderlust Private Limited</a></div>
        <div class="term"><a href=""><i class="fa-solid fa-shield-halved"></i> Privacy Terms</a></div>
    </footer>
</body>


<!--  map api js -->

<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/68736890cc.js" crossorigin="anonymous"></script>

<!-- my js -->
<script src="/js/script.js"></script>
<script src="/js/map.js"></script>


</html>