<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title><%=  %></title> -->
    <title>Wonderlust</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <head>
        <!-- navbar -->
        <nav class="navbar navbar-expand-sm bg-body-tertiary fixed-top border-bottom">
            <div class="container-xl">
                <a class="navbar-brand " href="/listings"><b>Wonderlust</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/listings">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/listings/new">Add new listing</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="nav-link" data-bs-container="body" tabindex="0"
                                data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="bottom"
                                data-bs-content="Admin side view">
                                Admin
                            </a>
                        </li>
                        <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <% if (!currentUser) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/signup">Signup</a>
                            </li>
                            <li class="nav-item"><a id="loginBtn" class="nav-link" type="button" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">Login</a>
                            </li>
                            <% } else { %>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">@<%= currentUser.username %></a>
                                </li>
                                <% } %>

                    </ul>
                    <!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
                </div>
            </div>
        </nav>


        <!-- login -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Login Here</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/login" method='post'>
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username</label>
                                <input name="username" type="text" class="form-control" id="Username"
                                    placeholder="Enter Your Username" autocomplete="">

                            </div>
                            <div class="mb-3">
                                <label for="InputPassword1" class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" id="InputPassword1"
                                    placeholder="Enter Password" name="loginPassword" autocomplete="current-password">
                            </div>
                            <div>
                                <button type="submit" type="button" class="btn btn-sm btn-success rounded-2 "
                                    data-bs-dismiss="modal">Login</button>
                                <a href="/signup" class="rounded-2 position-absolute end-0 px-3 fw-bold">Create
                                    an
                                    account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </head>

    <main class="pt-5 mt-5 container-xl">
        <!-- alerts -->
        <%- include('../includes/flash.ejs') %>

            <!-- main body -->
            <%- body %>
    </main>

    <footer class="footer border-top pt-2">
        <div class="social"><a href=""><i class="fa-brands fa-square-facebook"></i></a> <a href=""><i
                    class="fa-brands fa-instagram"></i></a> <a href=""><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-snapchat"></i></a> <a href=""><i
                    class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="company"><a href=""><i class="fa-regular fa-copyright"></i> Wonderlust Private Limited</a></div>
        <div class="term"><a href=""><i class="fa-solid fa-shield-halved"></i> Privacy Terms</a></div>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/68736890cc.js" crossorigin="anonymous"></script>

<script src="/js/script.js"></script>


</html>