<% layout('/layouts/boilerplate') -%>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create new data</title>
    </head>

    <body>
        <div class="container col-md-8">
            <h2>Add New Data</h2>
            <ul>
                <form id="form" action="/listings/addNew" method="post">
                    <div class="row">
                        <div class="">
                            <li>Title:<input class="form-control" type="text" name="listing[title]"
                                    placeholder="Enter title">
                            </li>
                        </div>
                        <div class="">
                            <li>Description: <input class="form-control" type="text" name="listing[description]"
                                    placeholder="Enter description"></input></li>
                        </div>
                        <div class="">
                            <li>Image URL: <input class="form-control" type="text" name="listing[image.url]"
                                    placeholder="https://www.example.com/image"></li>
                        </div>
                        <div class="col-md-4">
                            <li>Price: <input class="form-control" type="number" min="0" name="listing[price]"
                                    placeholder="In Rupees"></li>
                        </div>
                        <div class="col-md-8">
                            <li>Country: <input class="form-control" type="text" name="listing[country]"
                                    placeholder="Example- India"></li>
                        </div>
                        <div class="">
                            <li>Location: <input class="form-control" type="text" name="listing[location]"
                                    placeholder="Example- Thana, new delhi"></li>
                        </div>

                        <button type="submit" class="btn btn-sm border-dark mt-2 btn-outline-secondary">Add</button>
                    </div>

                </form>
            </ul>
        </div>
    </body>

    </html>