<% layout('/layouts/boilerplate') -%>
<!-- <title></title> -->
<body>
    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="get"><button>CreateNew</button></form> -->
    <ul>
        <% for( let list of lists ) { %>
        <li><a href="listings/<%= list.id %>"><%= list.title %></a></li>
        <% } %>
    </ul>
</body>
