<% layout('/layouts/boilerplate') -%>

    <body class="py-4 bg-body-tertiary">
        <main id="logForm" class="m-auto">
            <form action="/login" method="post" class="needs-validation" novalidate>
                <h3 class="mb-3 text-nowrap">Please login your account</h3>
                <div class="form-floating">
                    <input name="username" type="text" class="form-control" id="Username" placeholder="Username"
                        required>
                    <label for="Username">Username</label>
                </div>
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="floatingPassword"
                        placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <br>
                <div class="">
                    <button class="btn btn-sm w-100 btn-primary py-2 fw-bold" type="submit">Login</button>
                </div>
            </form>
        </main>

        <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    </body>